<div class="wrapper-slide-list-film">
  <div class="title-list-film">
    <span><%= title %></span>
  </div>
  <div class="wrapper-list-film" id="wrapper-list-film">
    <div class="list-film-browser">
      <% for( let index = 0; index < 20; index++ ) { %>
      <div class="film-browser">
        <img
          src="https://i.pinimg.com/736x/24/05/f5/2405f5d1220d45fef53df0bfe804e104.jpg"
          alt="film"
        />
      </div>
      <% } %>
    </div>
  </div>
  <div class="list-slide-film-prev">
    <i class="fa-solid fa-chevron-left"></i>
  </div>
  <div class="list-slide-film-next">
    <i class="fa-solid fa-chevron-right"></i>
  </div>
</div>
