<div class="wrapper-form-list-ranking-film">
  <div class="title-ranking-film">
    <span>Top 10 chương trình truyền hình tại Việt Nam</span>
  </div>
  <div class="form-list-ranking-film" id="form-list-ranking-film">
    <div class="list-ranking-film">
      <% rank.forEach(item => { %>
      <div class="item-ranking">
        <div class="bg-ranking">
          <svg id="rank-<%= item.rank %>" width="100%" height="100%">
            <path
              stroke="#595959"
              stroke-linejoin="square"
              stroke-width="4"
              d="<%= item.d %>"
            ></path>
          </svg>
        </div>
        <div class="film-ranking">
          <img
            src="https://i.pinimg.com/564x/1c/75/3e/1c753ef97df9e443c59355154e872c20.jpg"
            alt=""
          />
        </div>
      </div>
      <% }) %>
    </div>
  </div>
  <div class="btn-slide-prev"><i class="fa-solid fa-chevron-left"></i></div>
  <div class="btn-slide-next"><i class="fa-solid fa-chevron-right"></i></div>
</div>
