<div class="wrapper-loading" id="wrapper-loading-id">
  <div class="loading">
    <h1>Loading...</h1>
  </div>
</div>
<script>
  window.onload = () => {
    const loading = document.getElementById("wrapper-loading-id");
    loading.remove();
  };
</script>
