<div class="navigation">
  <a href="" class="logo_n flex_jus_center"> Viflix </a>
  <div class="navigation__list">
    <ul>
      <li class="<%= (page == 'film' || page == 'detail' || page == 'add-new-film') && "active" %>">
        <a href="../admin/film"><i class="bi bi-film"></i> <span>Phim</span></a>
      </li>
      <li class="<%= page == 'category' && "active" %>">
        <a href="../admin/category"><i class="bi bi-bookmarks"></i> <span>Thể loại</span></a>
      </li>
      <li class="<%= page == 'charts' && "active" %>">
        <a href="../admin/charts">
          <i class="bi bi-house-door-fill"></i> <span>Thống Kê</span>
        </a>
      </li>
    </ul>
  </div>
</div>
