<div class="main__content">
  <div class="main__content_head flex_center">
    <!-- <a href="" class="add_content"
      ><i class="bi bi-plus-circle"></i> <span>Thêm mới thể loại</span></a
    > -->
    <a href="./add-new-film" class="add_content"
      ><i class="bi bi-plus-circle"></i> <span>Thêm dự án</span></a
    >
    <!-- <a href="" class="add_content"
      ><i class="bi bi-plus-circle"></i> <span>Thêm mới thể loại</span></a
    > -->
  </div>
  <div class="main__content_body">
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th class="">#</th>
            <th>Thumb</th>
            <th>Company</th>
            <th class="title4">Title</th>
            <th>Time</th>
            <th>Control</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" border="0">
        <tbody>
          <tr>
            <td class="">1</td>
            <td>
              <img
                class="thumb-film"
                src="https://i.ytimg.com/vi/bf4yyStDWHE/maxresdefault.jpg"
                alt=""
              />
            </td>
            <td>Marvel</td>
            <td class="title4">
              <p>
                Avatar: Dòng chảy của nước jlhbfjbhwefkjlnbwefkljhbqwefjlibh
              </p>
            </td>
            <td>2:16:65</td>
            <td>
              <a class="details-film" href="./detail-film"
                ><i class="bi bi-info-circle"></i
              ></a>
              <!-- an/ hien -->
              <a class="hidden" href=""
                ><i class="bi bi-eye"></i>
                <!-- <i class="bi bi-eye-slash"></i> -->
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
